@model IEnumerable<ClothingStore.Models.Category>


 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.varName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.varDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtCreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dtUpdatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.varName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.varDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtCreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dtUpdatedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.intSeqId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.intSeqId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.intSeqId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
